@(requetes: List[Requete], requeteForm: Form[Requete], user:User, bookmarkss:List[BookMarks])
@import helper._


    

                        
    
    @main(requetes,user,bookmarkss) {
  
  

    
 @(requeteForm: Form[Requete])

@helper.form(action = routes.Requetes.newRequetes()) {
    
  
   @textarea(field = requeteForm("Query"), args = 'rows -> 10, 'cols -> 50)
   
   
       <button type="submit" type="button" class="btn btn-default" >Add</button>       <button   class="btn btn-default" name="execute" >Execute</button>
       
    
    
}
    
    
                            
                    

}               
                            
                        