@(requetes: List[Requete], requeteForm: Form[Requete], user:User,bookmarkss:List[BookMarks],queryHist: List[Requete]) 
@import helper._


@main(requetes,user,bookmarkss,queryHist) {

		<div class="col-md-9">

<div class="panel panel-info">
	<div class="panel-heading">

		<div class="pull-left">
			<button type="button" class="btn btn-default">Show Tables
				and partitions</button>
			<button type="button" class="btn btn-default">Show Table
				schemas</button>

		</div>


	</div>
	<br>
	<!-- /.panel-heading -->
	<div class="panel-body">
		<div class="box">
			<div class="box-header"></div>
			<div class="box-body">
				<a class="btn btn-app"> <i class="fa fa-copy"></i> copy
				</a> <a class="btn btn-app"> <i class="fa fa-play"></i> show result
				</a> <a class="btn btn-app"> <i class="fa fa-bookmark"></i> Bookmark
				</a>


			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->

		<div>



			@helper.form(action = routes.Requetes.newRequetes()) {

			@helper.textarea(requeteForm("corps"), args = 'rows -> 10, 'cols ->50)



			<button type="submit" type="button" class="btn btn-default">
				<p class="fa fa-send">Execute</p>
			</button>



			}
		</div>
		<!-- /.panel-body -->
	</div>




</div>



	</div>


		<!-- /.col-lg-6 -->
		<div class="col-md-9">
			<div class="panel panel-default">
				<div class="panel-heading"></div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<!-- Nav tabs -->
					<ul class="nav nav-pills">
						<li class="active"><a href="#myQueries" data-toggle="tab"><p
									class="fa fa-list-ul"> My Queries</p></a></li>
						<li><a href="#Bookmarks" data-toggle="tab">
								<p class="fa fa-bookmark"> Bookmarks</p>
						</a></li>
						<li><a href="#History" data-toggle="tab"><p
									class="fa fa-history"> History</p></a></li>

					</ul>



					<!-- Tab panes -->
					<div class="tab-content">
						<div class="tab-pane fade in active" id="myQueries">




							<br>
							<table class="table table-hover">

								<tbody>
									@for(r <- requetes) {
									<tr >

										

										<td>@r.getCorps()</td>



<td>@form(routes.Bookmarkss.newBookMarks(r.getId())) {

  <button type="submit" class="btn btn-circle"><i class="fa fa-bookmark"></i>
                             </button>
}


										</td>
										
										<td>


<!-- Button trigger modal -->
<button type="button"  class="btn btn-circle" data-toggle="modal" data-target="#myModal">
  <i class="fa fa-play"></i>
</button>



</td>
<td>
<button type="button"  class="btn btn-circle" >
  <i class="fa  fa-copy"></i>
</button>
</td>

									</tr>
									}

								</tbody>
							</table>


						</div>



						<div class="tab-pane fade" id="Bookmarks">


							<br>
							<table class="table table-hover">

								<tbody>

									@for(b <- bookmarkss){


									<tr>

										<td>

										
										
							<td>@form(routes.Bookmarkss.deleteBookMarks(b.getRequete().getId())) {			
										
								<button type="submit" class="btn btn-circle"><i class="fa fa-times"></i>
                             </button>		
										
										
										}
										
										</td>

										<td>@b.getRequete().getCorps()</td>

 

									</tr>

									}
								</tbody>
							</table>


						</div>



						<div class="tab-pane fade" id="History">






								<br>
								<table class="table table-hover">

									<tbody>
									@for(qh <- queryHist) {
										<tr>



											<td>@form(routes.Bookmarkss.newBookMarks(qh.getId())) {
<button type="submit" class="btn  btn-circle"><i class="fa fa-bookmark"></i> 
                             </button>	
                           												}

											</td>

											<td>@qh.getCorps()</td>


										</tr>
										}

									</tbody>
								</table>



							

						</div>
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.col-lg-6 -->
			
			</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Result</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
}

