@(requetes: List[Requete], requeteForm: Form[Requete], user:User, bookmarkss:List[BookMarks],queryHist: List[Requete])
@import helper._


    

                        
    
    @main(requetes,user,bookmarkss,queryHist) {
  
  

    
 @(requeteForm: Form[Requete])

@helper.form(action = routes.Requetes.newRequetes()) {
    
  
   @textarea(field = requeteForm("corps"), args = 'rows -> 10, 'cols -> 50,'_label -> "Body")
   
   
       <button type="submit" type="button" class="btn btn-default" ><p class="fa fa-send"> Execute</p></button>  
       
    
    
}
    
    
                            
                    

}               
                            
                        